* {
    box-sizing: border-box;
}

body {
    color: black;
    background-color: #dddddd;
    font-size: 1.5em;
    font-family: arial;
}

h1 {
    background-color: #87E7DF;
    margin:  0 0 20px 0;
    padding: 20px;
    text-align: center;
}

#top-message {
    text-align: center;
    padding: 10px;
}

canvas {
    width: 800px;
    height: 600px;
    border: 1px #C7CACD solid;
    display: block;
    margin: 0 auto;
}
.highlight {
    color: #FFB5BB;
    font-size: 1.5rem;
    }
    
    .isDrawing,
    .notDrawing {
        margin-top: 1rem;
    }
    
    .isDrawing {
        background-color: #00b700;
        color: #fff;
    }
    
    .notDrawing {
        border: 2px solid #020181;
    }
    
#clearButton{
    text-align:center;
}

